html {
  scroll-behavior: smooth;
}

:root {
  --first-color: rgb(8, 101, 240);
}

img {
  display: flex;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.583);
}

.navlink {
  float: right;
  font-size: 19px;
  height: 70px;
  width: 85px;
  padding-top: 22px;
  box-sizing: border-box;
  text-align: center;
}

.navlink:hover {
  background-color: rgb(255, 255, 255);
}

.nav-word {
  text-decoration: none;
  color: rgb(15, 131, 11);
}

#contact {
  margin-right: 20px;
}

#greeting {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 100%;
  scroll-margin-top: 43vh;
}

#subtext {
  font-size: 25px;
}

#flex {
  font-size: 20px;
  color: white;
}

#projects {
  padding-top: 30px;
  padding-bottom: 150px;
  width: 100%;
  position: absolute; 
  left: 0;
  top: 100vh;
  box-sizing: border-box;
  background-color: rgb(108, 179, 175);
  scroll-margin-top: 10vh;
}

.project-tile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.coding-projects {
  border: solid;
  height: 400px;
  width: 300px;
  margin-bottom: 10px;
  background: white;
}

#some {
  text-align: center;
  margin-bottom: 60px
}

.coding-titles {
  height: 80px;
  background-color: grey;
  margin-top: 320px;
  width: 100%;
}

@media (max-width: 500px) {
  html {
    background: rgb(108, 179, 175);
    width: 100%
  }
}
